.logo img {
    
    right: 40px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 30px;
  
  display: block;
  flex-shrink: initial;
}
header{
    font-family: fantasy;
    font-size: large;
  text-align: center;
  color: red;
  text-orientation: sideways;

  
    background-color: white ;
    height: 200px;
    vertical-align: middle;
}
#navigation {
  padding-top: 25px;
  justify-content: space-between;

  justify-items: right;

  width: 60%;
  display: flex;

  height: 200px;

  color: aqua;
  background-color: white;

  margin: auto;
}

.nav-links a {
    text-align: center;
    
  height: 30px;
  font-weight: bold;
  float: right;
  vertical-align: middle;

  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 50px;
  width: 55px;
  

  /*background-color: rgb(14, 216, 74); */
  float: left;
  /* border: 1px solid rgb(0, 2, 4); */
  text-decoration: none;
 /* justify-content: space-around;*/
  margin: 33px;
  border-radius: 10px;
  color: rgb(0, 2, 6);
}

body {
  min-height: 100px;

}
.activities{
    display: block;
    
    box-sizing: border-box;
    margin: auto;
    
    
}
.info-container{
  display: block;
  margin-top:20px ;
  
  
}
.info-container a{
  text-align: center;
  margin: 17px;
}
.activities .box{
    justify-content: space-between;
    
    border-radius: 15px;
    display: flex;
    height: 100px;
    width: auto;
    
    margin-top: 30px;
    border: 1px ;
    margin-top: 40px;
}
.baslik {
    text-align: center;
    width: 20%;
    background-color: red;
    color: rgb(248, 247, 247);
}
.aciklama 
{text-align: center;
    width: 40%;

}
.foto{
    text-align: center;
    width: 40%;
}
.box img{
    height: 150px;
    width: 310px;
    border-radius: 5px;
}

#content {
  
  background-color: rgb(252, 250, 250);
  width: 75vi;
  height: 900px;
  margin: auto;
  margin-bottom: 5px;
}
.form-container {
  width: 50%;
  margin: 0 auto;
}

/* Style the form inputs */
input[type="text"],
input[type="email"],
select,
textarea {
  
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #baf0bd;
}
.contact-links a{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(4, 4, 4);
  text-decoration: none;
  margin-top: 40px;
 justify-content: center;
}
#mapArea{
  color: aliceblue;
  background-color: antiquewhite;
}
iframe{
  width: 100%;
  
}

#foot {

    
  height: 75px;
  width: 75vi;
  margin: auto;
  background-color: black;
  color: aliceblue;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 30px;
  position: relative;
  bottom: 0;
  display: block;

  

}

#foot a{
    color: aliceblue;
    text-decoration: none;
    margin: 40px;
    justify-content: space-between;
}